# MkDocs documentation
/site/
# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints
# OS
.DS_Store

.github/

__pycache__/
src/epicure/resources/__pycache__/
src/epicure/__pycache__/

.pixi/
pixi.lock
env/
build/
develop-eggs/
dist/
downloads/
eggs/
tmp/
.eggs/
lib/
lib64/
parts/
src/_tests/files/
sdist/
test_data/epics/
var/
*.egg-info/
.installed.cfg
*.egg
